.page-content {
	padding-left: 250px;
	transition: padding 0.6s ease-in;
	min-height: 735px;
    background: #FEFEFE;
}

.page-content.closed {
	padding-left: 50px;
}

.page-content .header-buttons {
    min-height: 40px;
    background: #EFEFEF;
    border-bottom: 1px solid black;
    padding: 5px;
}
.page-content .header-buttons  {
}